Source: c-ares
Priority: extra
Maintainer: Andreas Schuldei <andreas@debian.org>
Uploaders: Gregor Jasny <gjasny@googlemail.com>
Build-Depends: debhelper (>= 9), autotools-dev, dh-autoreconf
Standards-Version: 3.9.4
Section: libs
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/c-ares.git
Vcs-Git: git://anonscm.debian.org/collab-maint/c-ares.git
Homepage: http://c-ares.haxx.se/


Package: libc-ares-dev
Section: libdevel
Architecture: any
Conflicts: libares-dev
Depends: libc-ares2 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Multi-Arch: same
Description: asynchronous name resolver - development files
 c-ares is a C library that performs DNS requests and name resolution
 asynchronously.
 .
 It is a fork of the library named "ares", with additional features:
  * IPv6 support;
  * extended cross-platform portability;
  * 64-bit clean sources.
 .
 This package contains development files (headers and static libraries).

Package: libc-ares2
Conflicts: libcares2
Architecture: any
Replaces: libc-ares1
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: asynchronous name resolver
 c-ares is a C library that performs DNS requests and name resolution
 asynchronously.
 .
 It is a fork of the library named "ares", with additional features:
  * IPv6 support;
  * extended cross-platform portability;
  * 64-bit clean sources.
 .
 This package provides the shared libraries.
